{{template "head" .Title}}
{{template "header"}}


{{template "sidebar_profile"}}

{{if .Status == "200"}}
	{{template "main_profile" .}}
{{else}}
	{{template .Status .ErrMsg}}
{{ende}}


{{template "foot"}}