{{template "head" .Title}}
{{template "header"}}


{{template "sidebar_setting"}}

{{if eq .Status "200"}}
	{{template "main_setting" .}}
{{else}}
	{{template "500" .ErrMsg}}
{{end}}


{{template "foot"}}
