{{template "head" .Title}}
{{template "header"}}


{{template "dashboard/sidebar" .}}

{{if ne .Status "200"}}
	{{template "500" .ErrMsg}}
{{else if .Overviews}}
	{{template "dashboard/overviews" .}}
{{else}}
	{{template "dashboard/nodes" .}}
{{end}}


{{template "foot"}}
