{{template "head" .Title}}
{{template "header"}}


{{template "sidebar_profile"}}

{{if eq .Status "200"}}
	{{template "main_profile" .}}
{{else}}
	{{template "500" .ErrMsg}}
{{end}}


{{template "foot"}}
