{{template "head" .Title}}
{{template "header"}}


{{template "admin/sidebar" .}}

{{if ne .Status "200"}}
	{{template "500" .ErrMsg}}
{{else if eq .CurMenu "nodes-edit"}}
	{{template "admin/nodes" .}}
{{else}}
	{{template "admin/metrics" .}}
{{end}}


{{template "foot"}}
