{{template "head" .Title}}
{{template "header"}}


{{template "dashboard/sidebar" .}}

{{if eq .Status "200"}}
	{{template "dashboard/main" .}}
{{else}}
	{{template "500" .ErrMsg}}
{{end}}


{{template "foot"}}
