<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header">Overviews</h1>
	<div class="row overviews">
		{{range .Overviews}}
		<div class="col-xs-6 col-sm-3 overviews">
			<img data-src="holder.js/200x200/auto/random/size:36/text:{{.Caption}}" class="img-responsive" alt="{{.Name}}">
			<h4>{{.Name}}</h4>
			<span class="text-muted">{{.Description}}</span>
		</div>
		{{end}}
	</div>
</div>